html {
    box-sizing: border-box;
    font-family: serif;
    font-size: 20px;
    font-weight: 200;
    background: mintcream;
  }
  
  body {
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }

  .panel {
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: mintcream;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex:1; /* even distribution of flex items from .panels flex container*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .panel1 { background-image:url(images/a.png);}
  .panel2 { background-image:url(images/b.png);}
  .panel3 { background-image:url(images/c.png);}
  .panel4 { background-image:url(images/d.png);}
  .panel5 { background-image:url(images/e.png);}

  /* Flex Children from .panels*/
  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   /* position panel out of view, place back with JS*/
   .panel > *:first-child {
     transform: translateY(-100%);  
   }
   .panel.open-active > *:first-child {
     transform: translateY(0%);
   }
   .panel > *:last-child {
     transform: translateY(100%);
   }
   .panel.open-active > *:last-child {
     transform: translateY(0%);
   }
        
 
  .panel p {
    text-transform: uppercase;
    font-family: serif, cursive;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.72);
    
    font-size: 2em;
  }
  
  .panel p:nth-child(2) {
    font-size: 4em;
  }

  
  .panel.open {
    font-size: 40px;
    flex: 5; /*grow*/
  }

  @media only screen and (max-width: 600px) {
    .panel p {
      font-size: 1em;
    }
  }
